################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Roll20 Companion/v15
/Roll20 Companion/bin/*
/Roll20 Companion/obj/*